<div class="row">
    <div class="large-4 columns">
        <p>프로젝트 타이틀1</p>
        <p>프로젝트 내용 :</p>
        <p>프로젝트 참여자 :</p>
    </div>
    <div class="large-4 columns">
        <p>프로젝트 타이틀1</p>
        <p>프로젝트 내용 :</p>
        <p>프로젝트 참여자 :</p>
    </div>
    <div class="large-4 columns">
        <p>프로젝트 타이틀1</p>
        <p>프로젝트 내용 :</p>
        <p>프로젝트 참여자 :</p>
    </div>
</div>
<div class="row">
    <div class="large-4 columns">
        <p>프로젝트 타이틀1</p>
        <p>프로젝트 내용 :</p>
        <p>프로젝트 참여자 :</p>
    </div>
    <div class="large-4 columns">
        <p>프로젝트 타이틀1</p>
        <p>프로젝트 내용 :</p>
        <p>프로젝트 참여자 :</p>
    </div>
    <div class="large-4 columns">
        <p>프로젝트 타이틀1</p>
        <p>프로젝트 내용 :</p>
        <p>프로젝트 참여자 :</p>
    </div>
</div>
<div class="row">
    <div class="large-4 columns">
        <p>프로젝트 타이틀1</p>
        <p>프로젝트 내용 :</p>
        <p>프로젝트 참여자 :</p>
    </div>
    <div class="large-4 columns">
        <p>프로젝트 타이틀1</p>
        <p>프로젝트 내용 :</p>
        <p>프로젝트 참여자 :</p>
    </div>
    <div class="large-4 columns">
        <p>프로젝트 타이틀1</p>
        <p>프로젝트 내용 :</p>
        <p>프로젝트 참여자 :</p>
    </div>
</div>