<span class="toggler active" data-toggle="grid"><i class="fa fa-th-large"></i></span>
<span class="toggler" data-toggle="list"><i class="fa fa-th-list"></i></span>


<ul class="projects grid">
  <li class="project-item">
    <span class="project-country list-only">
      UK
    </span>
    
    <span class="project-name">
      UK Beer May 2014
    </span>
    
    <span class="project-country grid-only">
      UK
    </span>
    
    <div class="pull-right">
      
      <span class="project-progress">
        <span class="project-progress-bg">
          <span class="project-progress-fg" style="width: 88%;"></span>
        </span>
        
        <span class="project-progress-labels">
          <span class="project-progress-label">
            88%
          </span>

          <span class="project-completes">
            490 / 500
          </span>
        </span>
      </span>
      
       <span class="project-end-date ended">
        2014 - May 10
      </span>
      <span class="project-stage">
        <span class="stage draft">Draft</span>
        <span class="stage awarded">Awarded</span>
        <span class="stage live">Live</span>
        <span class="stage ended active">Ended</span>        
      </span>
    </div>
  </li>
  <li class="project-item">    
    <span class="project-country list-only">
      US
    </span>
    
    <span class="project-name">
      Pepsi Tracker New Orleans
    </span>
    
    <span class="project-country grid-only">
      US
    </span>
    
    <div class="pull-right">
      
      <span class="project-progress">
        <span class="project-progress-bg">
          <span class="project-progress-fg" style="width: 25%;"></span>
        </span>
        
        <span class="project-progress-labels">
          <span class="project-progress-label">
            25%
          </span>

          <span class="project-completes">
            150 / 500
          </span>
        </span>
      </span>
      
       <span class="project-end-date">
        2014 - July 12
      </span>
      <span class="project-stage">
        <span class="stage draft">Draft</span>
        <span class="stage awarded">Awarded</span>
        <span class="stage live active">Live</span>
        <span class="stage ended">Ended</span>        
      </span>
    </div>
  </li>
  <li class="project-item">
    <span class="project-country list-only">
      US
    </span>
    
    <span class="project-name">
      Global Music Brand Tracker
    </span>
    
    <span class="project-country grid-only">
      US
    </span>
    
    <div class="pull-right">
      <span class="project-end-date">
        2014 - Oct 1
      </span>
      <span class="project-stage">
        <span class="stage draft">Draft</span>
        <span class="stage awarded active">Awarded</span>
        <span class="stage live">Live</span>
        <span class="stage ended">Ended</span>        
      </span>
    </div>
  </li>
</ul>  

<div id="project-list">
    <div class="row">
        <ul class="large-block-grid-3">
            <li class="grid-list">
                <p>프로젝트 타이틀1</p>
                <p>프로젝트 내용 :</p>
                <p>프로젝트 참여자 :</p>
            </li>
            <li class="grid-list">
                <p>프로젝트 타이틀1</p>
                <p>프로젝트 내용 :</p>
                <p>프로젝트 참여자 :</p>
            </li>
            <li class="grid-list">
                <p>프로젝트 타이틀1</p>
                <p>프로젝트 내용 :</p>
                <p>프로젝트 참여자 :</p>
            </li>
            <li class="grid-list">
                <p>프로젝트 타이틀1</p>
                <p>프로젝트 내용 :</p>
                <p>프로젝트 참여자 :</p>
            </li>
            <li class="grid-list">
                <p>프로젝트 타이틀1</p>
                <p>프로젝트 내용 :</p>
                <p>프로젝트 참여자 :</p>
            </li>
            <li class="grid-list">
                <p>프로젝트 타이틀1</p>
                <p>프로젝트 내용 :</p>
                <p>프로젝트 참여자 :</p>
            </li>
            <li class="grid-list">
                <p>프로젝트 타이틀1</p>
                <p>프로젝트 내용 :</p>
                <p>프로젝트 참여자 :</p>
            </li>
        </ul>
    </div>
</div>