<!DOCTYPE html>
<html ng-app="wipApp">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="app/public/css/foundation.min.css">
<link rel="stylesheet" type="text/css" href="app/public/css/toastr.css">
<link rel="stylesheet" type="text/css" href="app/public/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="app/public/css/app.css">

<!-- lib -->
<script src="app/public/lib/jquery-1.11.2.min.js"></script>
<script src="app/public/lib/toastr.js"></script>

<script src="app/public/lib/angular.js"></script>
<script src="app/public/lib/angular-animate.js"></script>
<script src="app/public/lib/angular-ui-router.min.js"></script>
<script src="app/public/lib/angular-cookies.js"></script>
<script src="app/public/lib/mm-foundation-tpls-0.5.1.js"></script>
<!-- app.js -->
<script src="app/app.js"></script>
<!-- Controllers -->
<script src="app/scripts/controllers/userController.js"></script>
<script src="app/scripts/controllers/projectController.js"></script>
<script src="app/scripts/controllers/taskController.js"></script>
<script src="app/scripts/controllers/todoController.js"></script>

<!-- Services -->
<script src="app/scripts/services/notificationFactory.js"></script>
<script src="app/scripts/services/modalWindowFactory.js"></script>
<script src="app/scripts/services/utilFactory.js"></script>
<script src="app/scripts/services/userService.js"></script>
<script src="app/scripts/services/projectService.js"></script>
<script src="app/scripts/services/taskService.js"></script>
<script src="app/scripts/services/todoService.js"></script>

<!-- projects js 
<script src="app/scripts/projects.js"></script>
<script src="app/scripts/projects-service.js"></script>
<script src="app/scripts/projects-util.js"></script>
<script src="app/scripts/projects-modal.js"></script>

<script src="app/scripts/modalWindowFactory.js"></script>-->
<!-- could easily use a custom property of the state here instead of 'name' -->
<title ng-bind="$state.current.name">WIP</title>
</head>

<body>
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name">
				<h1><a href="#/projects.todolist">WIP</a></h1>
			</li>
		</ul>

		<section class="top-bar-section">
		<!-- Left Nav Section 
		<ul class="left">
			<li ng-class="{active: $state.includes('projects')}"><a ui-sref="projects.list">Project List</a></li>
		</ul>-->
		<!-- Right Nav Section -->
		<ul class="right">
			<!-- <li ng-show="$state.includes('projects')"><a href="#" ng-click="logout()">Logout</a></li> -->
			<li><a ui-sref="join">Join</a></li>
			<li><a ui-sref="login">Login</a></li>
			<li ng-controller="userController"><a ng-click="logout()">Logout</a></li>
		</ul>
		</section>
	</nav>
	<div id="wrapper">
		<!-- Here is the main ui-view (unnamed) and will be populated by its immediate children's templates
		unless otherwise explicitly named views are targeted. It's also employing ng-animate. -->
		<div ui-view class="fade" style="padding-top: 80px;"></div>
	</div>
	<!-- <footer><span>2015 &copy; All rights reserved.</span></footer> -->
	<pre>
	<!-- Here's some values to keep an eye on in the sample in order to understand $state and $stateParams -->
	$state = {{$state.current.name}}
	$stateParams = {{$stateParams}}
	$state full url = {{ $state.$current.url.source }}
	$rootScope.userInfo = {{userInfo}};
    $rootScope.loginState = {{loginState}};
	<!-- $state.$current is not a public api, we are using it to
	display the full url for learning purposes-->
	</pre>
</body>
</html>