<div>
    <!--Header-->
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <!--Body-->
    <div class="modal-body">
        <p>{{body}}</p>
    </div>
    <!--OK and Cancel buttons-->
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="confirm()">
            <i class="fa fa-check"></i>OK
        </button>
        <button class="btn btn-danger" ng-click="cancel()">
            <i class="fa fa-close"></i>Cancel
        </button>
    </div>
</div>