/* Wit In Project CSS */

/* body */

* {
  box-sizing: border-box;
}

ul, li{
    list-style: none;
}

body {
    background-color:#c0c0c0;
}

/* LayOut */

#Wrapper {
    width:100%;
}

.side-bar{
    position: fixed;
    top:0;left:0;bottom:0;
    width:350px;
    height: 100%;
    background: #43AC6A;

}

.contents{
    width:100%;
    padding-left:350px;
}

footer{
    position: absolute;
    bottom:0;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

#logo{
    font-size: 2em;
}

/* login / join */

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -174px 0 0 0px;
    width: 300px;
    height: 348px;
}

#join{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -210px 0 0 0px;
    width: 300px;
    height: 420px;
}

#login h2, #join h2 {
    background: #f95252;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 28px;
    padding: 20px 26px;
    margin-bottom:0;
}

#login form, #join form {
    background: #fff;
    border-radius: 0 0 20px 20px;
    padding: 20px 26px;
}

/* Project List */

.project-item{
    display: block;
    margin-top: 10px;
    padding: 20px;
    border-radius: 2px;
    background: white;
    box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
}

.grid .survey-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 250px;
    margin: 10px;
}