    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <div class="row">
    <h2><i class="fa fa-sign-in"></i> Join</h2>
    <form name="form" ng-submit="join()" role="form">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Name" ng-model="name" required />
        <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">name is required</span>
        <label for="id">ID (E-mail)</label>
        <input type="text" name="id" id="id" class="form-control" placeholder="ID (E-mail)" ng-model="id" required />
        <span ng-show="form.id.$dirty && form.id.$error.required" class="error">ID is required</span>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control"  placeholder="PASSWORD" ng-model="password" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="error">Password is required</span>
        <ul class="button-group text-center">
            <li>
                <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Join</button>
                <img ng-if="dataLoading" src="http://www.rechercheisidore.fr/img/loader.gif" width="20px" height="20px" />
            </li>
        </ul>
    </form>