<div class="row">

	<div class="large-4 columns">
		<ul class="side-nav">

            <li class="divider"></li>
            <li ng-repeat="project in projects" ui-sref-active="active">
                <!-- Here's a ui-sref that is also providing necessary parameters -->
                <div ng-show="$edit" class="row collapse">
                    <div class="small-8 columns">
                        <input type="text" name="project.name" id="project.name" ng-model="project.name" required />
                    </div>
                    <div class="small-2 columns">
                        <a href="#" class="button postfix" ng-click="$edit = !$edit; modifyProject(project)">save</a>
                    </div>
                    <div class="small-2 columns">
                        <a href="#" class="button postfix alert" ng-click="deleteProject(project)">delete</a>
                    </div>
                </div>
                <div ng-show="!$edit" class="row collapse">
                    <div class="small-8 columns">
                        <a ui-sref="projects.detail({projectId:project.idx})" class="button postfix success">{{project.name}}</a>
                    </div>
                    <div class="small-2 columns">
                        <a href="#" class="button postfix" ng-click="$edit = !$edit">edit</a>
                    </div>
                    <div class="small-2 columns">
                        <a href="#" class="button postfix alert" ng-click="deleteProject(project)">delete</a>
                    </div>
                </div>
            </li>
        </ul>
        <form name="form" ng-submit="addProject()" role="form">
            <div class="row">
                <div class="large-12 columns" ng-show="showAddProjectButton">
                    <a href="" ng-click="toogleAddProjectFrom()">프로젝트 추가하기 <i class="fa fa-plus"></i></a>
                </div>
                <div class="large-12 columns" ng-show="showAddProjectForm">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <input type="text" name="name" id="name" placeholder="Project Name" ng-model="newProject.name" required />
                        </div>
                        <div class="small-2 columns">
                            <button type="submit" class="button postfix" ng-disabled="form.$invalid" ng-click="toogleAddProjectFrom()">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

	</div>
	<div ui-view class="large-8 columns fade"></div>
</div>


<script type="text/ng-template" id="delete.html">
	<h3>프로젝트 삭제</h3>
	<p>프로젝트를 삭제 하시겠습니까?</p>
	<p>task / todo 함께 삭제됩니다. </p>
	<button class="button" ng-click="ok()">OK</button>
	<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>