<div>
  <h2>{{project.name}}</h2>
  <ul>
    <li ng-repeat="task in project.tasks">

      <!-- Here's another ui-sref except THIS time we are passing parameters
           AND inheriting parameters from active ancestor states. So we don't
           need to resupply the projectsId parameter. -->
      <a ui-sref="projects.detail.task({taskId:task.id})">{{task.type}}</a>
    </li>
  </ul>
  <div ui-view class="fade">
    <!-- Example of default content. This content will be replace as soon as
         this ui-view is populate with a template -->
    <small class="muted">Click on a projects task to view and/or edit it.</small>
  </div>
</div>