<h2>All Contacts</h2>
<!-- <ul>
    <li ng-repeat="project in projectList">
        <div class="row">
            <div class="large-12 columns">
                <div ng-show="$edit" class="row collapse">
                    <div class="small-8 columns">
                        <input type="text" name="project.name" id="project.name" ng-model="project.name" required />
                    </div>
                    <div class="small-2 columns">
                        <a href="#" class="button postfix" ng-click="modifyProject(project.name, project.idx)">edit</a>
                    </div>
                    <div class="small-2 columns">
                        <a href="#" class="button postfix alert" ng-click="deleteProject(project.idx)">delete</a>
                    </div>
                </div>
                <div ng-show="!$edit" class="row collapse">
                    <div class="small-8 columns">
                        <a ui-sref="projects.detail({projectId:project.idx})" class="button postfix success">{{project.name}}</a>
                    </div>
                    <div class="small-2 columns">
                        <a href="#" class="button postfix" ng-click="$edit = !$edit">edit</a>
                    </div>
                    <div class="small-2 columns">
                        <a href="#" class="button postfix alert" ng-click="deleteProject(project.idx)">delete</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
 -->
<h2>project.list.html</h2>

<!-- <ul>
  <li ng-repeat="project in projects">
    <a ui-sref="projects.detail({projectId:project.id})">{{project.name}}</a>
  </li>
</ul>    -->