<link rel="stylesheet" href="/app/public/css/todo.css"/>
<h2>{{project.name}}</h2>
<div class="row">
	<div class="btn"><i class="btn fa fa-plus" ng-click="toggleAddTodoMode()" title="Add" ng-hide="addTodoMode">Todo ADD</i></div>
	<div class="btn"><i class="btn fa fa-minus" ng-click="toggleAddTodoMode()" title="Cancel" ng-show="addTodoMode">Cancel</i></div>	 
	<div ng-show="addTodoMode">
		<form name="form" ng-submit="addTodo()" role="form">
			<span>기존 카테고리 넣기</span>
			<input type="text" name="category" id="category" placeholder="New Category" ng-model="newTodo.category" />
			<input type="text" name="content" id="content" placeholder="Content" ng-model="newTodo.content" required />
			<span ng-show="form.content.$dirty && form.content.$error.required" class="error">Content is required</span>
			<input type="text" name="receiver" id="receiver" placeholder="Receiver" ng-model="newTodo.receiver" />
			<input type="text" pick-a-date="date" pick-a-date-options="options" placeholder="Select Date" /> {{date}} 
			<span ng-show="form.due_date.$dirty && form.due_date.$error.required" class="error">Due Date is required</span>

			<ul class="button-group text-center">
			    <li>
			        <button type="submit" ng-disabled="form.$invalid || dataLoading">Create</button>
			        <img ng-if="dataLoading" src="http://www.rechercheisidore.fr/img/loader.gif" width="20px" height="20px" />
			        <button type="button" ng-click="toggleAddTodoMode()">Close</button>
			    </li>
			</ul>
    </form>
	</div>
	<div ng-hide="hasTodo">There is no todo</div>
	<ul ng-repeat="category in categorys">
		<li> Category : {{category.categories}}
			<hr>
			<ul ng-repeat="todo in category.todo_list">
				<li>Content : 
					<span ng-show="todo.editMode == null || todo.editMode == false" ng-dblclick="toggleEditMode(todo)">
						{{todo.content}}
					</span>
					<!--edit mode-->
					<form name="editForm">
						<input ng-model="todo.content" ng-show="todo.editMode" required ng-keydown="updateOnEnter(todo, $event)"  />
					</form>
				</li>
				<li>Receiver_id : 
					<span ng-show="todo.editMode == null || todo.editMode == false" ng-dblclick="toggleEditMode(todo)">
						{{todo.receiver_id}}
					</span>
					<!--edit mode-->
					<form name="editForm">
						<input ng-model="todo.receiver_id" ng-show="todo.editMode" required ng-keydown="updateOnEnter(todo, $event)"  />
					</form>
				</li>
				<li>Due Date : 
					<span ng-show="todo.editMode == null || todo.editMode == false" ng-dblclick="toggleEditMode(todo)">
						{{todo.due_date}}
					</span>
					<!--edit mode-->
					<form name="editForm">
						<input ng-model="todo.due_date" ng-show="todo.editMode" required ng-keydown="updateOnEnter(todo, $event)"  />
					</form>
				</li>
				<li>is Finish : 
					<span ng-show="todo.editMode == null || todo.editMode == false" ng-dblclick="toggleEditMode(todo)">
						{{todo.is_finish}}
					</span>
					<!--edit mode-->
					<form name="editForm">
						<input ng-model="todo.is_finish" ng-show="todo.editMode" required ng-keydown="updateOnEnter(todo, $event)"  />
					</form>
				</li>
				<li>
					 <!--Edit + Delete-->
					<div class="btn-toolbar" ng-show="todo.editMode == null || todo.editMode == false">
					    <div class="btn-group">
					        <i class="fa fa-pencil-square-o" ng-click="toggleEditMode(todo)" title="Edit"></i>
					        <i class="fa fa-trash-o" ng-click="deleteTodo(todo)" title="Delete" data-toggle="modal"></i>
					    </div>
					</div>

					<!--Save + Cancel-->
					<div class="btn-toolbar" ng-show="todo.editMode">
					    <div class="btn-group">
					        <i class="fa fa-floppy-o" ng-click="updateTodo(todo)" title="Save" ng-disabled="editForm.$invalid"></i>
					        <i class="fa fa-remove" ng-click="toggleEditMode(todo)" title="Cancel"></i>
					    </div>
					</div>
				</li>
				<hr>
			</ul>
		</li>
	</ul>
</div>